body{margin:0px; 
	
}

header{

height: 100vh;

    opacity: 0.8;
    background-image: url("https://img.freepik.com/free-photo/neutral-abstract-texture-simple-background_53876-102509.jpg?w=2000");
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    
}

.horizontal-list li {
	color: green;
	font-size: 25px;
	font-family: 'Charmonman';
	font-weight: bold;
    display: inline-block;
    margin: 10px 20px 20px 10px;
}


.horizontal-list li a {
    color: green;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}


.horizontal-list li a:hover {
    color: burlywood;
    text-shadow: 2px 2px green;
}
.text-center {
    text-align: center;
}


#my-name {
    font-size: 5rem;
    margin: 100px;
    letter-spacing: 0.1rem;
    color: Green;
    font-weight: 600;
    font-family:'Charmonman';
}
#my-name1 {
    font-size: 2rem;
    color: black;
    font-weight: 450;
    font-family: 'Charmonman';
    margin: 0px;
}

#contributors {
	position: relative;
	height: auto;
	
	text-align: center;
	padding: 50px;
	
}


#blogs {
	text-align: center;
	
}



#create_blog {
	text-align: center;
	

	height: auto;
	padding: 40px;
}

#contact {
	background-color: black;
	opacity: 0.7;
	height: auto;
	font-weight: bold;
	color: black;
	background-image: url("https://www.thespruce.com/thmb/01FyZSTzpy20mo2mtNV1L0SNu4s=/1414x1414/smart/filters:no_upscale()/a-modern--stylish-and-bright-bedroom-with-plants-1216663523-18327b7ce6854dff9f4d59902323d185.jpg");
	z-index: -1;
}
#list-group{
	text-align:left;
	padding: 20px;
}

#contact{
    text-align: center;
}